<div class="p-grid" *ngIf="vistaCarga">
    <div class="p-col-12" style="text-align: center;" >
        <p-progressSpinner [style]="{width: '100px', height: '100px'}" styleClass="custom-spinner" strokeWidth="8" fill="#EEEEEE" animationDuration=".5s"></p-progressSpinner>
        </div>
    </div>
    
    <p-toast></p-toast>
    
    <div class="p-grid" >
    
    
    <div class="p-col-12">
        <div class="card  p-shadow-10">
            <h4>Reporte de Tipos de Productos</h4>
            <br>
    
            <button (click)="exportarPDF()" pButton pRipple type="button" icon="pi pi-file-pdf" label="Exportar a PDF" class="p-button-raised p-button-danger p-mr-2 p-mb-2"></button>
            <button (click)="exportarXLSX()" pButton pRipple type="button" icon="pi pi-file-excel" label="Exportar a Excel" class="p-button-raised p-button-success p-mr-2 p-mb-2"></button>
    
        </div>
    </div>
    
    
    <div class="p-col-12">
        <div class="card  p-shadow-10">
             <h5>Listado de Tipos de Productos Registrados</h5>
        <!-- <div class="p-mb-3">
            <p-button type="button" icon="pi pi-chevron-left" (click)="prev()" [hidden]="isFirstPage()" styleClass="p-button-text"></p-button>
            <p-button type="button" icon="pi pi-refresh" (click)="reset()" styleClass="p-button-text"></p-button>
            <p-button type="button" icon="pi pi-chevron-right" (click)="next()" [hidden]="isLastPage()" styleClass="p-button-text"></p-button>
        </div>-->
        <div class="p-mb-3">
            <div class="p-inputgroup">
                <button pButton pRipple type="button" label="Buscar" (click)="buscar()"></button>
                <span class="p-float-label">
                    <input type="text" pInputText [(ngModel)]="txtBuscar" (keyup.enter)="buscar()"/>
                    <label>Palabra Clave</label>
                </span>
            </div>
        </div>
        <p-table [value]="tipoProductos"  [paginator]="true" [rows]="rows" [showCurrentPageReport]="true" [lazy]="true"  [(first)]="first"  [(totalRecords)]="totalRecords" [loading]="loading" (onLazyLoad)="loadData($event)"
        currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros" [rowsPerPageOptions]="[10,25,50]" styleClass="p-datatable-responsive-demo p-datatable-gridlines" >
            <ng-template pTemplate="header">
                <tr>
                    <th style="background-color: rgb(80, 148, 216); border: 1px solid rgb(221, 221, 221); width: 5%; color:white;">N°</th>
                    <th style="background-color: rgb(80, 148, 216); border: 1px solid rgb(221, 221, 221); width: 71%; color:white;">Tipo de Producto</th>
                    <th style="background-color: rgb(80, 148, 216); border: 1px solid rgb(221, 221, 221); width: 10%; color:white;">Estado</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-tipoProductos let-rowIndex="rowIndex" >
                <tr>
                    <td style="border: 1px solid rgb(221, 221, 221); font-size: 1rem; padding: 5px;"><span class="p-column-title">N°</span> {{rowIndex+1}}</td>
                    <td style="border: 1px solid rgb(221, 221, 221); font-size: 1rem; padding: 5px;"><span class="p-column-title">Tipo</span>  {{tipoProductos.tipo}}</td>
                    <td style="border: 1px solid rgb(221, 221, 221); font-size: 1rem; padding: 5px; text-align: center;"><span class="p-column-title">Estado</span>
                              <p-tag styleClass="p-mr-2" severity="success" *ngIf="tipoProductos.activo === 1" value="Activo"></p-tag>
                              <p-tag styleClass="p-mr-2" severity="warning" *ngIf="tipoProductos.activo === 0" value="Inactivo"></p-tag>
                    </td>
                </tr>
            </ng-template>
        </p-table>
        </div>
    </div> 
    
    
        <p-confirmDialog header="Confirmación" #cd key="confirmDialog" icon="pi pi-exclamation-triangle" message="¿Está seguro de Registrar?"
                                 [style]="{width: '425px'}" acceptButtonStyleClass="p-button-text" rejectButtonStyleClass="p-button-text">
                                 <p-footer>
                                    <button type="button" pButton icon="pi pi-times" label="No" (click)="cd.reject()"></button>
                                    <button type="button" pButton icon="pi pi-check" label="Si, Aceptar" (click)="cd.accept()"></button>
                                </p-footer>
                                </p-confirmDialog>
    
                                 <!-- Esta alerta se muestra estaticamente, el toast si flotante -->
                                 <!-- <p-messages [value]="msgs"></p-messages> -->
    
    </div>