<div class="p-grid">


<div class="p-col-12">
    <div class="card">
        <h4>Gestión de Locales</h4>
        <div class="p-fluid">
            <blockquote>Aquí puede gestionar los locales con los que cuenta su empresa, en cada local se controlarán stocks de productos y se emitirán ventas y compras</blockquote>
        </div>
        <br>

        <button (click)="nuevo()" pButton pRipple type="button" icon="pi pi-plus" label="Agregar Nuevo Local" class="p-button-raised p-button-info p-mr-2 p-mb-2"></button>

    </div>
</div>


<div class="p-col-12" *ngIf="vistaRegistro">
    <div class="card">
        <h5>Nuevo Local</h5>
        <div class="p-fluid">
            <div class="p-field p-grid">
                <label for="departamento" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Departamento</label>
                <div class="p-col-12 p-md-10">
                    <span class="p-float-label">
                        <p-dropdown inputId="departamento" [options]="states" [(ngModel)]="clsDepartamento" optionLabel="name" [autoDisplayFirst]="false" [style]="{'height':'31px'}" [filter]="true"></p-dropdown>
                            <label>Seleccione</label>
                    </span>
                </div>
            </div>
            <div class="p-field p-grid">
                <label for="provincia" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Provincia</label>
                <div class="p-col-12 p-md-10">
                    <span class="p-float-label">
                        <p-dropdown inputId="provincia" [options]="states" [(ngModel)]="clsProvincia" optionLabel="name" [autoDisplayFirst]="false" [style]="{'height':'31px'}"></p-dropdown>
                            <label>Seleccione</label>
                    </span>
                </div>
            </div>
            <div class="p-field p-grid">
                <label for="distrito" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Distrito</label>
                <div class="p-col-12 p-md-10">
                    <span class="p-float-label">
                        <p-dropdown inputId="distrito" [options]="states" [(ngModel)]="clsDistrito" optionLabel="name" [autoDisplayFirst]="false" [style]="{'height':'31px'}"></p-dropdown>
                            <label>Seleccione</label>
                    </span>
                </div>
            </div>
            <div class="p-field p-grid">
                <label for="nombre" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Nombre del Local</label>
                <div class="p-col-12 p-md-10">
                    <input id="nombre" type="text" pInputText [(ngModel)]="nombre" #inputNombre>
                </div>
            </div>
            <div class="p-field p-grid">
                <label for="codigo" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Código de Domicilio Fiscal</label>
                <div class="p-col-12 p-md-10">
                    <input id="codigo" type="text" pInputText [(ngModel)]="codigo">
                </div>
            </div>
            <div class="p-field p-grid">
                <label for="direccion" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Dirección</label>
                <div class="p-col-12 p-md-10">
                    <input id="direccion" type="text" pInputText  [(ngModel)]="direccion">
                </div>
            </div>
            <div class="p-field p-grid">
                <label for="state" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Estado</label>
                <div class="p-col-12 p-md-10">
                    <span class="p-float-label combo">
                        <p-dropdown inputId="state" [options]="states" [(ngModel)]="clsEstado" optionLabel="name" [autoDisplayFirst]="true" [style]="{'height':'31px'}"></p-dropdown>
                            <label>Seleccione</label>
                    </span>
                </div>
            </div>
        </div>

        <br>

        <button pButton pRipple type="button" icon="pi pi-save" label="Registrar" class="p-button-raised p-mr-2 p-mb-2"></button>
        <button pButton pRipple type="button" icon="pi pi-times-circle" label="Cancelar" class="p-button-raised p-button-warning p-mr-2 p-mb-2"></button>
        <button (click)="cerrar()" pButton pRipple type="button" icon="pi pi-times" label="Cerrar" class="p-button-raised p-button-danger p-mr-2 p-mb-2"></button>
    </div>
</div>




<div class="p-col-12">
    <div class="card">
         <h5>Listado de Locales Registrados</h5>
    <div class="p-mb-3">
        <p-button type="button" icon="pi pi-chevron-left" (click)="prev()" [disabled]="isFirstPage()" styleClass="p-button-text"></p-button>
        <p-button type="button" icon="pi pi-refresh" (click)="reset()" styleClass="p-button-text"></p-button>
        <p-button type="button" icon="pi pi-chevron-right" (click)="next()" [disabled]="isLastPage()" styleClass="p-button-text"></p-button>
    </div>
    <p-table [value]="customers" [paginator]="true" [rows]="rows" [showCurrentPageReport]="true" [(first)]="first"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[10,25,50]" styleClass="p-datatable-responsive-demo p-datatable-gridlines">
        <ng-template pTemplate="header">
            <tr>
                <th style="background-color: rgb(80, 148, 216); border: 1px solid rgb(221, 221, 221); width: 4%; color:white;">Name</th>
                <th style="background-color: rgb(80, 148, 216); border: 1px solid rgb(221, 221, 221); width: 4%; color:white;">Country</th>
                <th style="background-color: rgb(80, 148, 216); border: 1px solid rgb(221, 221, 221); width: 4%; color:white;">Company</th>
                <th style="background-color: rgb(80, 148, 216); border: 1px solid rgb(221, 221, 221); width: 4%; color:white;">Representative</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-customer>
            <tr>
                <td style="border: 1px solid rgb(221, 221, 221); font-size: 1rem; padding: 5px;"><span class="p-column-title">Name</span> {{customer.name}}</td>
                <td style="border: 1px solid rgb(221, 221, 221); font-size: 1rem; padding: 5px;"><span class="p-column-title">Country</span> {{customer.country.name}}</td>
                <td style="border: 1px solid rgb(221, 221, 221); font-size: 1rem; padding: 5px;"><span class="p-column-title">Company</span> {{customer.company}}</td>
                <td style="border: 1px solid rgb(221, 221, 221); font-size: 1rem; padding: 5px;"><span class="p-column-title">Representative</span>  {{customer.representative.name}}</td>
            </tr>
        </ng-template>
    </p-table>


        
    </div>
</div>


</div>