<div class="layout-wrapper" [ngClass]="{'p-input-filled': app.inputStyle === 'filled', 'p-ripple-disabled': !app.ripple,
        'layout-menu-static': isStatic(),
        'layout-menu-overlay': isOverlay(),
        'layout-menu-horizontal': isHorizontal(),
        'layout-menu-slim': isSlim(),
        'layout-menu-active': menuActive,
        'layout-menu-mobile-active': mobileMenuActive,
        'layout-topbar-mobile-active': mobileTopbarActive,
        'layout-rightmenu-active': rightMenuActive,
        'layout-rtl': app.isRTL}" [class]="'layout-menu-' + app.menuTheme + ' layout-topbar-' + app.topbarTheme">

        <!-- BARRA SUPERIOR - NEGRO -->
    <app-topbar></app-topbar>

   <!-- <app-rightmenu></app-rightmenu> -->

   <!-- MENU - AZUL -->
    <div class="menu-wrapper" (click)="onMenuClick($event)">
        <div class="layout-menu-container">
            <!-- OPCION MI PERFIL TOP MENU AZUL -->
            <app-inline-menu *ngIf="app.inlineMenuPosition=='top' || app.inlineMenuPosition=='both'" key="top"></app-inline-menu>
            <!-- MENU PRINCIPAL -->
            <app-menu></app-menu>
            <!-- OPCION MI PERFIL BOTTOM MENU AZUL -->
            <app-inline-menu *ngIf="app.inlineMenuPosition=='bottom' || app.inlineMenuPosition=='both'" key="bottom"></app-inline-menu>
        </div>
    </div>

    <div class="layout-main">
        <!-- SUBMENU DATOS - WHITE -->
        <app-breadcrumb></app-breadcrumb>

        <!-- CONTENIDO PRINCIPAL - WHITE -->
        <div class="layout-content" style="padding: 3rem">
            <router-outlet></router-outlet>
        </div>

        <!-- FOOTER -->
        <app-footer></app-footer>
    </div>

    <!-- CONFIGURACIONES -->
    <!-- <app-config></app-config> -->

    <div *ngIf="mobileMenuActive" class="layout-mask modal-in"></div>

</div>
