<div class="p-grid" *ngIf="vistaCarga">
    <div class="p-col-12" style="text-align: center;" >
        <p-progressSpinner [style]="{width: '100px', height: '100px'}" styleClass="custom-spinner" strokeWidth="8" fill="#EEEEEE" animationDuration=".5s"></p-progressSpinner>
        </div>
    </div>
    
    <p-toast></p-toast>
    
    <div class="p-grid" >
    
    
    <div class="p-col-12">
        <div class="card  p-shadow-10">
            <h4>Reporte de Proveedores</h4>
            <br>
    
            <button (click)="exportarPDF()" pButton pRipple type="button" icon="pi pi-file-pdf" label="Exportar a PDF" class="p-button-raised p-button-danger p-mr-2 p-mb-2"></button>
            <button (click)="exportarXLSX()" pButton pRipple type="button" icon="pi pi-file-excel" label="Exportar a Excel" class="p-button-raised p-button-success p-mr-2 p-mb-2"></button>
    
        </div>
    </div>
    
 
    <div class="p-col-12">
        <div class="card  p-shadow-10">
             <h5>Listado de Proveedores Registrados</h5>
       <!-- <div class="p-mb-3">
            <p-button type="button" icon="pi pi-chevron-left" (click)="prev()" [hidden]="isFirstPage()" styleClass="p-button-text"></p-button>
            <p-button type="button" icon="pi pi-refresh" (click)="reset()" styleClass="p-button-text"></p-button>
            <p-button type="button" icon="pi pi-chevron-right" (click)="next()" [hidden]="isLastPage()" styleClass="p-button-text"></p-button>
        </div>-->

        <div class="p-mb-3">
            <div class="p-inputgroup">
                <button pButton pRipple type="button" label="Buscar" (click)="buscar()"></button>
                <span class="p-float-label">
                    <input type="text" pInputText [(ngModel)]="txtBuscar" (keyup.enter)="buscar()"/>
                    <label>Palabra Clave</label>
                </span>
            </div>
        </div>
        <p-table [value]="proveedors" [resizableColumns]="true" [paginator]="true" [rows]="rows" [showCurrentPageReport]="true" [lazy]="true"  [(first)]="first"  [(totalRecords)]="totalRecords" [loading]="loading" (onLazyLoad)="loadData($event)"
            currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros" [rowsPerPageOptions]="[10,25,50]" styleClass="p-datatable-gridlines" responsiveLayout="scroll" [style]="{width:'100%', 'padding-right': '0px!important'}" >

            <!-- <ng-template pTemplate="colgroup" let-columns>
                <colgroup>
                    <col style="width:60px;">
                    <col style="width:200px;">
                    <col style="width:150px;">
                    <col style="width:100px;">
                    <col style="width:180px;">
                    <col style="width:80px;">
                    <col style="width:170px;">
                    <col style="width:170px;">
                    <col style="width:67px;">
                </colgroup>
            </ng-template> -->

            <ng-template pTemplate="header">
                <tr>
                    <th pResizableColumn style="background-color: rgb(80, 148, 216); border: 1px solid rgb(221, 221, 221);  color:white;">N°</th>
                    <th pResizableColumn style="background-color: rgb(80, 148, 216); border: 1px solid rgb(221, 221, 221);  color:white;">Proveedor</th>
                    <th pResizableColumn style="background-color: rgb(80, 148, 216); border: 1px solid rgb(221, 221, 221);  color:white;">Tipo de Documento de Identidad</th>
                    <th pResizableColumn style="background-color: rgb(80, 148, 216); border: 1px solid rgb(221, 221, 221);  color:white;">Documento de Identidad</th>
                    <th pResizableColumn style="background-color: rgb(80, 148, 216); border: 1px solid rgb(221, 221, 221);  color:white;">Dirección</th>
                    <th pResizableColumn style="background-color: rgb(80, 148, 216); border: 1px solid rgb(221, 221, 221);  color:white;">Teléfono</th>
                    <th pResizableColumn style="background-color: rgb(80, 148, 216); border: 1px solid rgb(221, 221, 221);  color:white;">Anexo</th>
                    <th pResizableColumn style="background-color: rgb(80, 148, 216); border: 1px solid rgb(221, 221, 221);  color:white;">Celular</th>
                    <th pResizableColumn style="background-color: rgb(80, 148, 216); border: 1px solid rgb(221, 221, 221);  color:white;">Responsable</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-proveedor let-rowIndex="rowIndex" >
                <tr>
                    <td style="border: 1px solid rgb(221, 221, 221); font-size: 1rem; padding: 5px;">{{rowIndex+1}}</td>
                    <td style="border: 1px solid rgb(221, 221, 221); font-size: 1rem; padding: 5px;">{{proveedor.nombre}}</td>
                    <td style="border: 1px solid rgb(221, 221, 221); font-size: 1rem; padding: 5px;">{{proveedor.tipoDocumento.descripcion}}</td>
                    <td style="border: 1px solid rgb(221, 221, 221); font-size: 1rem; padding: 5px;">{{proveedor.documento}}</td>
                    <td style="border: 1px solid rgb(221, 221, 221); font-size: 1rem; padding: 5px;">{{proveedor.direccion}}</td>
                    <td style="border: 1px solid rgb(221, 221, 221); font-size: 1rem; padding: 5px;">{{proveedor.telefono}}</td>
                    <td style="border: 1px solid rgb(221, 221, 221); font-size: 1rem; padding: 5px;">{{proveedor.anexo}}</td>
                    <td style="border: 1px solid rgb(221, 221, 221); font-size: 1rem; padding: 5px;">{{proveedor.celular}}</td>
                    <td style="border: 1px solid rgb(221, 221, 221); font-size: 1rem; padding: 5px;">{{proveedor.responsable}}</td>
                </tr>
            </ng-template>
        </p-table>
        </div>
    </div> 
    
    
        <p-confirmDialog header="Confirmación" #cd key="confirmDialog" icon="pi pi-exclamation-triangle" message="¿Está seguro de Registrar?"
                                 [style]="{width: '425px'}" acceptButtonStyleClass="p-button-text" rejectButtonStyleClass="p-button-text">
                                 <p-footer>
                                    <button type="button" pButton icon="pi pi-times" label="No" (click)="cd.reject()"></button>
                                    <button type="button" pButton icon="pi pi-check" label="Si, Aceptar" (click)="cd.accept()"></button>
                                </p-footer>
                                </p-confirmDialog>
    
                                 <!-- Esta alerta se muestra estaticamente, el toast si flotante -->
                                 <!-- <p-messages [value]="msgs"></p-messages> -->
    
    </div>
