<div class="p-grid" *ngIf="vistaCarga">
  <div class="p-col-12" style="text-align: center">
    <p-progressSpinner
      [style]="{ width: '100px', height: '100px' }"
      styleClass="custom-spinner"
      strokeWidth="8"
      fill="#EEEEEE"
      animationDuration=".5s"
    ></p-progressSpinner>
  </div>
</div>

<div class="layout-invoice-page">
    <button pButton pRipple type="button" label="Imprimir" icon="pi pi-print" (click)="print()" class="p-button-raised p-button-success p-mr-2 p-mb-2"></button>
    <button pButton pRipple type="button" icon="pi pi-times" label="Cerrar" (click)="cerrarFormulario()" class="p-button-raised p-button-danger p-mr-2 p-mb-2"></button>

    <div class="p-grid layout-invoice-content">
        <div class="p-col-12">
            <div class="card">
                <div class="p-d-flex p-jc-between">
                    <h5>N° de Venta {{venta.numeroVenta}} 
                        <span *ngIf="venta.estado == 0" class="p-tag p-tag-danger p-ml-2">VENTA ANULADA</span>
                    </h5>
                </div>

                <div class="p-d-flex p-jc-between">
                    <div class="p-d-flex p-flex-column p-ai-center">
                        <svg width="48" height="50" viewBox="0 0 48 50" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M33.1548 9.65956L23.9913 4.86169L5.54723 14.5106L0.924465 12.0851L23.9913 0L37.801 7.23403L33.1548 9.65956ZM23.9931 19.3085L42.4255 9.65955L47.0717 12.0851L23.9931 24.1595L10.1952 16.9361L14.8297 14.5106L23.9931 19.3085ZM4.6345 25.8937L0 23.4681V37.9149L23.0669 50V45.1489L4.6345 35.4894V25.8937ZM18.4324 28.2658L0 18.6169V13.7658L23.0669 25.8403V40.2977L18.4324 37.8615V28.2658ZM38.7301 23.468V18.6169L24.9205 25.8403V49.9999L29.555 47.5743V28.2659L38.7301 23.468ZM43.3546 35.4892V16.1914L48.0008 13.7659V37.9148L34.1912 45.1488V40.2977L43.3546 35.4892Z" fill="var(--primary-color)"></path></svg>
                        <p class="p-mt-1" style="font-weight: bold;     font-size: 1.5em;">Sucursal: {{venta.almacen.nombre}}</p>
                    </div>
                </div>

                <div class="p-p-3">
                    <p-table [columns]="billCols" [value]="billData" styleClass="p-invoice-datatable-responsive p-pb-3">
                        <ng-template pTemplate="header" let-columns>
                            <tr>
                                <th *ngFor="let col of columns">
                                    {{col.header}}
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-rowData let-columns="columns">
                            <tr>
                                <td *ngFor="let col of columns">
                                    <span class="p-column-title">{{col.header}}</span>
                                    {{rowData[col.field]}}
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>

                    <p-table [columns]="productCols" [value]="productData" styleClass="p-invoice-datatable-responsive p-datatable-sm p-py-6">
                        <ng-template pTemplate="header" let-columns>
                            <tr>
                                <th *ngFor="let col of columns">
                                    {{col.header}}
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-rowData let-columns="columns">
                            <tr>
                                <td *ngFor="let col of columns">
                                    <span class="p-column-title">{{col.header}}</span>
                                    {{rowData[col.field]}}
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>

                    <div class="p-grid">
                        <div class="p-col-12 p-md-6">
                            <!-- <p-panel header="BANK">
                                <div class="p-d-flex p-ai-center p-jc-between p-py-2">
                                    <span>Bank</span>
                                    <span class="p-text-bold">BestBank</span>
                                </div>
                                <div class="p-d-flex p-ai-center p-jc-between p-pt-2 p-py-2">
                                    <span>ACCOUNT BENEFICIARY</span>
                                    <span class="p-text-bold">Edward Williams</span>
                                </div>
                                <div class="p-d-flex p-ai-center p-jc-between p-pt-2 p-py-2">
                                    <span>SWIFT</span>
                                    <span class="p-text-bold">PJNWBXND</span>
                                </div>
                                <div class="p-d-flex p-ai-center p-jc-between p-pt-2 p-py-2">
                                    <span>IBAN</span>
                                    <span class="p-text-bold">GB04420235692263866724650931</span>
                                </div>
                            </p-panel> -->
                        </div>
                        <div class="p-col-12 p-md-6">
                            <p-panel header="TOTAL">
                                <div class="p-grid p-text-right">
                                    <div class="p-col-10">
                                        Op. Gravada
                                    </div>
                                    <div class="p-col-2">
                                        <span class="pink-color">{{ venta.subtotalAfecto - venta.igv | currency : "PEN" : "S/."}}</span>
                                    </div>

                                    <div class="p-col-10">
                                        <span>p. Exonerada</span>
                                    </div>
                                    <div class="p-col-2">
                                        <span class="pink-color">{{ venta.subtotalExonerado | currency : "PEN" : "S/."}}</span>
                                    </div>

                                    <div class="p-col-10">
                                        <span>Op. Inafecta</span>
                                    </div>
                                    <div class="p-col-2">
                                        <span class="pink-color">{{ venta.subtotalInafecto | currency : "PEN" : "S/."}}</span>
                                    </div>

                                    <div class="p-col-10">
                                        <span>ISC</span>
                                    </div>
                                    <div class="p-col-2">
                                        <span class="pink-color">{{ venta.isc | currency : "PEN" : "S/."}}</span>
                                    </div>

                                    <div class="p-col-10">
                                        <span>IGV</span>
                                    </div>
                                    <div class="p-col-2">
                                        <span class="pink-color">{{ venta.igv | currency : "PEN" : "S/."}}</span>
                                    </div>

                                    <div class="p-col-10">
                                        <span>ICBPER</span>
                                    </div>
                                    <div class="p-col-2">
                                        <span class="pink-color">{{ venta.montoIcbper * venta.cantidadIcbper | currency : "PEN" : "S/."}}</span>
                                    </div>

                                    <div class="p-col-10" style="font-weight: bold;">
                                        <span>Importe Total</span>
                                    </div>
                                    <div class="p-col-2" style="font-weight: bold;">
                                        <span class="pink-color">{{ venta.totalMonto | currency : "PEN" : "S/."}}</span>
                                    </div>
                                </div>
                            </p-panel>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>